<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles/assignment.css">
    <link rel="stylesheet" href="Styles/daily.css">
    <link rel="stylesheet" href="Styles/login.css">
    <link rel="stylesheet" href="Styles/navBar.css">
    <link rel="stylesheet" href="Styles/topic.css">
    <link rel="stylesheet" href="Styles/weekly.css">
</head>
<body onload="updateView()">
    <div id="app"></div>
    
    <script src="Controllers/assignmentController.js"></script>
    <script src="Controllers/dailyController.js"></script>
    <script src="Controllers/loginController.js"></script>
    <script src="Controllers/topicController.js"></script>
    <script src="Controllers/weeklyController.js"></script>
    
    <script src="Utilities/common.js"></script>
    <script src="Utilities/model.js"></script>
    
    <script src="Views/mainView.js"></script>
    <script src="Views/topicView.js"></script>
    <script src="Views/dailyView.js"></script>
    <script src="Views/weeklyView.js"></script>
    <script src="Views/assignmentsView.js"></script>
    <script src="Views/loginView.js"></script>
    
</body>
</html>