body {
    background-color: #03262c;
    color: white;
    font-size: large;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(4, 60px 150px) ;
    column-gap: 5px;
    padding: 10px;
}



svg {
    width: 800px; 
    height:600px; 
    background-color: grey;
}

button {
    margin-bottom: 10px;
}