* {
    margin-bottom: 0;
    margin-top: 0;
}
img.big {
    height: 80vh;
}

img.mid {
    height: 300px;
}

#content {
    min-height: 90vh;
    margin-top: 4px;
}

details {
    width: 100%
}

iframe {
    height: 52vh;    
}
