.leftBarTopic {
    font-size: 2.83vh;
    width: 18vw;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 3px outset rgb(255, 154, 95);
}
.leftBarTopic:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 175, 175);
    transition: 0.5s ease-out;
}
.leftBarSub {
    font-size: 2vh;
    width: 15vw;
    padding: 8px 12px;
    cursor: pointer;
    display: block;
    background-color: rgb(255, 255, 255);
    border: 3px outset rgb(255, 154, 95);
    transition: background-color 0.3s ease-in-out;
}

.leftBarSub:hover {
    background-color: rgb(255, 233, 233);
    transition: 0.5s ease-out;
}
.leftBarDel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0; 
}
.leftBarEdit {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 10px 0;
    background-color: lightblue;
}
.leftBarCancel {
    font-size: 2vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    cursor: pointer;
    margin: 10px 0;
    background-color: rgb(226, 172, 172);
}
.leftBarTheme{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
                                                        
}
.topicMain{
    background-color: rgba(255, 177, 131, 0.904);
    border: 3px outset rgb(255, 94, 0);
    box-shadow: 1px 1px 1px 1px rgba(255, 136, 0, 0.76);
}
.subMain{
    background-color: rgba(255, 177, 131, 0.904);
    border: 3px outset rgb(255, 94, 0);
    box-shadow: 1px 1px 1px 1px rgba(255, 136, 0, 0.76)
}
.selectedTopicButton {
    font-size: 2.83vh;
    width: 18vw;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 177, 131, 0.904);
    border: 3px outset rgb(255, 94, 0);
    box-shadow: 1px 1px 1px 1px rgba(255, 136, 0, 0.76);
}
.selectedSubTopicButton {
    font-size: 2vh;
    width: 15vw;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 3px outset rgba(255, 123, 0, 0.904);
    box-shadow: rgb(255, 203, 144) -1px 1px 10px;
    background-color: rgba(255, 185, 104, 0.329);
}
